/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'TABIX_.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'GUNZIP' {
        publishDir = [ enabled: false ]
    }

    withName: '.*GENERATE_REPORT:.*' {
        publishDir = [ enabled: false ]
        //publishDir = [
        //    path: { "${params.outdir}/report" },
        //    mode: params.publish_dir_mode,
        //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        //]
    }


    withName: '.*SNPIO.*' {
        publishDir = [
            path: { "${params.outdir}/snpio/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ADMIXTUREPIPELINE {
        time   = { 48.h  * task.attempt }
    }

    withName: SNPIO_FILTER {
        ext.args = {
            def profiles = workflow.profile.tokenize(',')
            if ('test' in profiles) {
                " --permutations 50 "
            } else {
                " --permutations 1000 "
            }
        }
    }

    withName: 'PLOT_ADMIXTURE' {
        ext.args = " --sort_pop --sort_ind "
    }

    withName: 'PLOT_ADMIXTURE_ALL' {
        ext.args = " --sort_pop --sort_ind --mink 2 "
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUSTOMIZE_REPORT' {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}
