/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Runs the bundled test dataset with the pipeline's default ADMIXTURE settings
    (K = 1-10, 10 replicates, 10-fold cross-validation).

    Use as follows:
        nextflow run aCaMEL/admixpipe -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Bundled test dataset run with default ADMIXTURE settings'

    input           = "${projectDir}/assets/test.vcf"
    popmap          = "${projectDir}/assets/test.popmap"
    site_coords     = "${projectDir}/assets/site_coords.tsv"
    geo_data_config = "${projectDir}/assets/test_geo_data.json"
    geo_data_dir    = "${projectDir}/assets/test_geo_data"
}
