/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UARK-aCaMEL/admixpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = "${projectDir}/assets/test.vcf"
    popmap          = "${projectDir}/assets/test.popmap"
    site_coords     = "${projectDir}/assets/site_coords.tsv"
    geo_data_config = "${projectDir}/assets/test_geo_data.json"
    geo_data_dir    = "${projectDir}/assets/test_geo_data"
    maxk            = 6
    num_cv          = 4
    num_reps        = 4

}
